.app-header {
  button {
    margin: 0 16px
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: #1D1B20;
    padding: 0 256px;
    p {
      margin: 0;
    }
    span {
      color: white;
    }

  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: white;
    border-width: 1px;
  }
}
