<app-banner
  src="assets/imagens/banner-homepage.png"
  alt="Banner da aplicação"
></app-banner>
<app-container>
  <div class="form">
    <app-search-form></app-search-form>
  </div>
  <h2>Promoções</h2>
  <div class="card-wrapper">
    <app-search-card></app-search-card>
    <app-search-card></app-search-card>
    <app-search-card></app-search-card>
    <app-search-card></app-search-card>
    <app-search-card></app-search-card>
    <app-search-card></app-search-card>
    <app-search-card></app-search-card>
  </div>
  <h2>Depoimentos</h2>
  <div class="testimony-card-wrapper">
    <app-testimony-card></app-testimony-card>
    <app-testimony-card></app-testimony-card>
    <app-testimony-card></app-testimony-card>
  </div>
</app-container>
