<footer>
  <div class="section-01">
    <img src="assets/imagens/logo.png" alt="Logo da aplicação jornada" />
    <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
    <p>
      Desenvolvido por Alisson Deivison. Projeto fictício sem fins lucrativos
    </p>
  </div>
  <div class="section-02">
    <p>Acesse nossas redes sociais:</p>
    <span>
      <a href="/">
        <img src="assets/icones/whatsapp.png" alt="Logo do whatsapp" />
      </a>
      <a href="/">
        <img src="assets/icones/instagram.png" alt="Logo do instagram" />
      </a>
      <a href="/">
        <img src="assets/icones/twitter.png" alt="Logo do twitter" />
      </a>
    </span>
  </div>
</footer>
